<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menumanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MenuManager">

        <!-- Главная активность -->
        <activity
            android:name=".RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Активности которые должны быть: -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".ClientMenuActivity" />
        <activity android:name=".ChefActivity" />
        <activity android:name=".ManageMenuActivity" />
        <activity android:name=".ClientActivity" /> <!-- Если этот класс существует -->

        <!-- Другие активности -->
        <activity android:name=".IngredientsActivity" />
        <activity android:name=".StopListActivity" />
        <activity android:name=".AdminStopListActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".TemporaryActivity" />

    </application>

</manifest>